body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #40514E;
    font-weight: bold;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.6rem; /* 16px = 100% = 1em rem hace que solo respete rem*/
    line-height: 2;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.a-programmer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

.intro {
    width: 30%;
    margin: auto;
}

.top {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle {
    margin:100px 0;
}

.bottom {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;

}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 20%;
    float: right;
    margin-left: 30px;
    
}

.contact-me {
    margin-bottom: 10%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn-c {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.btn-c:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
    }

.footer-link {
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}

.footer-link:hover {
    color: #EAF6F6;
}

.footer-copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}




